streamlit
matplotlib
altair
pandas
numpy
plotly
seaborn
datetime
emoji
urlextract
collection
wordcloud
idna
uritools
pytest
platformdirs
bump2version
filelock
dnspython
black


dotenv
scikit-learn
textblob
nltk
